.charityapp {
  width: 350px; 
  height: 755px; 
  background: lightblue; 
  border-style: solid; 
  border-width: 5px; 
  border-color: black; 
  margin: 10px; 
  padding: 5px; 
  float: left; 
  text-align: center; 
}

.likeBtn {
  background-color: darkcyan; 
  width: 100px; 
  text-align: center; 
  font-size: 30px; 
  color: white; 
  border-radius: 12px; 
  border: 2px solid darkblue;
  float: right; 
}

.likeBtn:hover {
  background-color: black; 
} 

.brand {
  font-weight: 800; 
  color: navy; 
  font-size: 22px; 
}

.label {
  color: green; 
  font-size: 30px; 
  font-weight: 900; 
}

.title {
 font-weight: bolder; 
 color: navy; 
 size: 20px; 
}

.info { 
  font-weight: 350; 
  color: black; 
}

.logos {
  height: 180px; 
}